.art-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.art {
  background-color: var(--dark-purple);
  color: var(--light-purple);
  padding: 10px;
}

.art img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top center;
}

.art a {
  position: relative;
}

.spicy {
  filter: blur(25px);
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  color: red;
  transform: rotate(45deg);
}

a:not(.nes-btn) {
  color: var(--light-blue);
}

@media screen and (max-width: 749px) {
  .art-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .emote-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
