.outfit {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  word-break: normal;
  overflow-wrap: anywhere;
}

.outfit-img {
  max-width: 250px;
}

@media (max-width: 600px) {
  .outfit {
    grid-template-columns: auto;
  }

  .outfit-img {
    width: 100%;
  }
}
