<div class="nes-container with-title is-centered is-rounded">
  <h2>Reference Sheet</h2>
  <p>
    Naomi has two different forms, her human form and her goddess form. You can
    see them both, and the differences, below.
  </p>
</div>
<div class="nes-container with-title is-centered is-rounded">
  <h3>Human Form</h3>
  <p>In her human form, Naomi blends in quite well.</p>
  <p>She keeps her long purple hair up in a pony tail, with her bangs loose.</p>
  <p>She is never seen without her glasses.</p>
  <p>Her two tattoos can be hidden or visible on her whims.</p>
  <div class="img-grid">
    <a href="/assets/img/ref/h-front.png" target="_blank">
      <img src="/assets/img/ref/h-front.png" />
    </a>
    <a href="/assets/img/ref/h-back.png" target="_blank">
      <img src="/assets/img/ref/h-back.png" />
    </a>
  </div>
</div>
<div class="nes-container with-title is-centered is-rounded">
  <h3>Goddess Form</h3>
  <p>
    In her goddess form, Naomi sheds her human skin for a cybernetic
    enhancement. This gives her greater speed and power.
  </p>
  <p>In her sternum is her power core, which runs her cybernetic implants.</p>
  <p>She grows wings, born from a combination of magic and electricity.</p>
  <p>Her tattoos cannot be visible in this form.</p>
  <div class="img-grid">
    <a href="/assets/img/ref/g-front.png" target="_blank">
      <img src="/assets/img/ref/g-front.png" />
    </a>
    <a href="/assets/img/ref/g-back.png" target="_blank">
      <img src="/assets/img/ref/g-back.png" />
    </a>
  </div>
</div>
<div class="nes-container with-title is-centered is-rounded">
  <h3>Face</h3>
  <p>
    In her human form, Naomi's eyes actually contain miniature galaxies, the
    realms over which she rules.
  </p>
  <p>
    In her goddess form, her eyes become circuitry, allowing her enhanced vision
    and perception.
  </p>
  <p>
    Her bangs part to reveal a gem embedded in her forehead, which is the source
    of her magic power.
  </p>
  <p>
    Hidden by her ponytail is a missing back panel, exposing a series of servos
    which grant her motion.
  </p>
  <div class="img-grid">
    <a href="/assets/img/ref/h-face.png" target="_blank">
      <img src="/assets/img/ref/h-face.png" />
    </a>
    <a href="/assets/img/ref/g-face.png" target="_blank">
      <img src="/assets/img/ref/g-face.png" />
    </a>
  </div>
</div>
<div class="nes-container with-title is-centered is-rounded">
  <h3>Hands</h3>
  <p>
    Naomi keeps her fingernails long and filed to a point, and paints them
    purple.
  </p>
  <p>In human form, her arms and hands appear normal.</p>
  <p>
    In goddess form, her hands receive extra joints for maximum articulation.
  </p>
  <div class="img-grid">
    <a href="/assets/img/ref/h-hands.png" target="_blank">
      <img src="/assets/img/ref/h-hands.png" />
    </a>
    <a href="/assets/img/ref/g-hands.png" target="_blank">
      <img src="/assets/img/ref/g-hands.png" />
    </a>
  </div>
</div>
<div class="nes-container with-title is-centered is-rounded">
  <h3>Feet</h3>
  <p>Naomi's feet remain remarkably unchanged in the transformation process.</p>
  <p>
    she keeps her toes painted a sparkly purple, and never wears socks or shoes.
  </p>
  <div class="img-grid">
    <a href="/assets/img/ref/h-feet.png" target="_blank">
      <img src="/assets/img/ref/h-feet.png" />
    </a>
    <a href="/assets/img/ref/g-feet.png" target="_blank">
      <img src="/assets/img/ref/g-feet.png" />
    </a>
  </div>
</div>
<div class="nes-container with-title is-centered is-rounded">
    <h3>Bonus Images</h3>
    <div class="img-grid">
      <a href="/assets/img/ref/h-tattoo-top.png" target="_blank">
        <img src="/assets/img/ref/h-tattoo-top.png" />
      </a>
      <a href="/assets/img/ref/h-tattoo-bottom.png" target="_blank">
        <img src="/assets/img/ref/h-tattoo-bottom.png" />
      </a>
    </div>
    <div class="img-grid">
        <a href="/assets/img/ref/g-power-core.png" target="_blank">
          <img src="/assets/img/ref/g-power-core.png" />
        </a>
        <a href="/assets/img/ref/g-back-panel.png" target="_blank">
          <img src="/assets/img/ref/g-back-panel.png" />
        </a>
      </div>
  </div>