.content-grid img {
  height: 350px;
}

.content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  margin: 10px 0;
}

.content-grid div {
  height: 100%;
}

.img-hell {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.img-hell img {
  height: auto;
  width: 100%;
}
