<div class="nes-container with-title is-centered is-rounded">
  <h2>Reference Sheet</h2>
  <p>Naomi has some standard aspects about her appearance that never change.</p>
  <p>She is slender, with soft pale skin. She's approximately 173cm tall.</p>
  <p>She keeps her long purple hair up in a pony tail, with her bangs loose.</p>
  <p>She is never seen without her glasses.</p>
  <p>Her tattoos can be hidden or visible on her whims.</p>
  <div class="content-grid">
    <a href="/assets/img/ref/front.png" target="_blank">
      <img src="/assets/img/ref/front.png" />
    </a>
    <a href="/assets/img/ref/back.png" target="_blank">
      <img src="/assets/img/ref/back.png" />
    </a>
  </div>
</div>
<div class="nes-container with-title is-centered is-rounded">
  <h3>Details</h3>
  <div class="content-grid">
    <div class="nes-container with-title is-centered is-rounded is-dark">
      <h4>Face</h4>
      <p>
        Naomi's eyes contain miniature galaxies, and she wears purple lipstick,
        eyeshadow, and blush.
      </p>
    </div>
    <a href="/assets/img/ref/face.png" target="_blank">
      <img src="/assets/img/ref/face.png" />
    </a>
  </div>
  <div class="content-grid">
    <div class="nes-container with-title is-centered is-rounded is-dark">
      <h4>Hands</h4>
      <p>
        Naomi keeps her fingernails long and filed to a point, and paints them
        purple.
      </p>
    </div>
    <a href="/assets/img/ref/hands.png" target="_blank">
      <img src="/assets/img/ref/hands.png" />
    </a>
  </div>
  <div class="content-grid">
    <div class="nes-container with-title is-centered is-rounded is-dark">
      <h4>Feet</h4>
      <p>
        She keeps her toes painted a sparkly purple, and never wears socks or
        shoes.
      </p>
    </div>
    <a href="/assets/img/ref/feet.png" target="_blank">
      <img src="/assets/img/ref/feet.png" />
    </a>
  </div>
</div>
<div class="nes-container with-title is-centered is-rounded">
  <h3>Tattoos</h3>
  <div class="content-grid img-hell">
    <div class="nes-container with-title is-centered is-rounded is-dark">
      <h4>Chest</h4>
      <a href="/assets/img/ref/chest-tattoo.png" target="_blank">
        <img src="/assets/img/ref/chest-tattoo.png" />
      </a>
    </div>
    <div class="nes-container with-title is-centered is-rounded is-dark">
      <h4>Stomach</h4>
      <a href="/assets/img/ref/stomach-tattoo.png" target="_blank">
        <img src="/assets/img/ref/stomach-tattoo.png" />
      </a>
    </div>
    <div class="nes-container with-title is-centered is-rounded is-dark">
      <h4>Left Arm</h4>
      <a href="/assets/img/ref/left-tattoo.png" target="_blank">
        <img src="/assets/img/ref/left-tattoo.png" />
      </a>
    </div>
    <div class="nes-container with-title is-centered is-rounded is-dark">
      <h4>Right Arm</h4>
      <a href="/assets/img/ref/right-tattoo.png" target="_blank">
        <img src="/assets/img/ref/right-tattoo.png" />
      </a>
    </div>
    <div class="nes-container with-title is-centered is-rounded is-dark">
      <h4>Ankle</h4>
      <a href="/assets/img/ref/ankle-tattoo.png" target="_blank">
        <img src="/assets/img/ref/ankle-tattoo.png" />
      </a>
    </div>
    <div class="nes-container with-title is-centered is-rounded is-dark">
      <h4>Back</h4>
      <a href="/assets/img/ref/back-tattoo.png" target="_blank">
        <img src="/assets/img/ref/back-tattoo.png" />
      </a>
    </div>
  </div>
</div>
